@import "~taro-ui/dist/style/components/steps.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/list.scss";

.using-toilet {
  min-height: 100vh;
  background-color: #f1f1f1;

  .steps-view {
    background-color: white;
    padding: 1em;
  }
  .input-view {
    background-color: white;
    margin: 1em 0;
  }
  .footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
