@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/card.scss";

.grid-view {
  background: white;
}
.input-control {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 1em;
  background: white;
}
.index-view {
  background: #f1f1f1;
}
