@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/button.scss";

.user-info {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: white;

  .nickname {
    margin-left: 1em;
  }
}

.user-view {
  flex-flow: column;
  min-height: 100vh;
  background: #f1f1f1;
  display: flex;
}
