@import "~taro-ui/dist/style/components/steps.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/form.scss";

.number-toilet {
  min-height: 100vh;
  background: #f1f1f1;

  .tabs-content {
    background-color: white;
    padding: 1em;
    .input-control {
      align-items: center;
      display: flex;
      border-bottom: #f1f1f1 solid 1px;
    }
  }
  .footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
